@import url(../header.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main {
    color: #fff;
    padding-top: 100px;
}
    
main > span {
    font-size: 1.5em;
    color: #ccc;
    padding-left: 15px;
    
}

main > h1 {
    font-size: 2em;
    padding-left: 15px;
}

section h2 {
    margin-top: 20px;
    padding: 20px 0 0 0;
    width: 100%;
    text-align: center;
    border-top: 1px #ccc solid;
}

.none {
    display: none;
}

#marcador-horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & > select {
        width: 200px;
        text-align: center;
        font-size: 1em;
        padding: 2px;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;

        & option {
            background-color: #000;
            text-align: center;
            width: 100%;
        }

        & > optgroup {
            background-color: #1b1b1b;
            text-align: center;
        }

    }


    & > input {
        width: 200px;
        text-align: center;
        font-size: 1.2em;
        background-color: transparent;
        color: #fff;
        border: 1px solid #ccc;
    }
    & > label {
        margin-top: 20px;
    }
    & > span {
        margin-top: 15px;
        font-size: 1.5em;
        cursor: pointer;

        & ul {
            display: none;
        }
    }
}


