@import url(../header.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

main {
    position: relative;
    color: #fff;
    padding-top: 100px;
}
    
main > span {
    font-size: 1.5em;
    color: #ccc;
    padding-left: 15px;
    
}

main > h1 {
    font-size: 2em;
    padding-left: 15px;
    text-transform: capitalize;
    max-width: 400px;
    overflow: hidden;
    height: 40px;
}

section h2 {
    margin-top: 20px;
    padding: 20px 0 0 0;
    width: 100%;
    border-top: 1px #ccc solid;
    cursor: pointer;
    text-align: center;
}

.active h2 {
    text-align: center;
}

.none {
    display: none;
}

#horarios-section {
    margin-top: 20px;


    & > div {
        display: none;
    }
}

#modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000a8;
    color: #fff;
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;
    & > div {
        background-color: #000;
        width: 80%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        & > span {
            margin-top: 10px;
        }

        & > div {
            margin-top: 30px;
        }


        & #prosseguir {
            cursor: pointer;
            border: 0;
            padding: 5px;
            background-color: #ffffff;
        }

        & #cancelar {
            cursor: pointer;
            padding: 5px;
            background-color: transparent;
            color: #ccc;
            border: 1px solid #7c7c7c;
        }
    }
}

#modal.active {
    display: flex;
}


#horarios-section.active {
    position: absolute;
    top: 30px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #000;
    box-sizing: border-box;
    padding: 20px;

    
    & > h2 {
        border: 0;
    }

     
    & > div {
        padding-top: 20px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 100%;
        justify-content: center;

    }
    & .horarioMarcado {
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 150px;
        border: 1px solid ;
        box-sizing: border-box;
        padding: 5px;
        position: relative;
        transition: color .5s, background-color .5s;

        & > .remove {
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5em;
            position: absolute;
            right: 10px;
            top: 5px;
            color: #000;
            display: none;
            cursor: pointer;
        }

        & > footer {
            position: absolute;
            bottom: 0;
            color: #feea76b6;
        }

        & .diaMarcado {
            font-size: .8em;
        }

        &  .horaMarcado {
            font-size: .8em;
        }

        & > .tipo {
            font-size: 1.1em;
            text-transform: capitalize;
        }
        & > .servico {
            font-size: 1em;
            text-transform: capitalize;
        }


        &:hover {
            background-color: #fff;
            color: #000;

            & > .remove {
                display: flex;
            }

            & > footer {
                color: #c0a407;
            }
        }
    }
}

.sair {
    
    cursor: pointer;
    display: none;
}

.active .sair {
    display: inline-block;
    rotate: 90deg;
}


#marcador-horario {
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: none;

    & > select {
        width: 200px;
        text-align: center;
        font-size: 1em;
        padding: 2px;
        box-sizing: border-box;
        background-color: transparent;
        color: #fff;

        & option {
            background-color: #000;
            text-align: center;
            width: 100%;
        }

        & > optgroup {
            background-color: #1b1b1b;
        }

    }


    & input {
        width: 200px;
        text-align: center;
        font-size: 1.2em;
        background-color: transparent;
        color: #fff;
        border: 1px solid #797979;
    }
    & > label {
        margin-top: 20px;
    }
    & > span {
        margin-top: 15px;
        font-size: 1.5em;
        cursor: pointer;

        & ul {
            display: none;
        }
    }

    & > #btnMarca {
        margin-top: 40px;
        width: 200px;
        height: 50px;
        border: 0;
        color: #ccc;
        background-color: transparent;
        transition: background-color 1s, color 1s, border 1s ;
        z-index: 0;

        &.active {
            z-index: 1;
            background-color: #fff;
            color: #000;
            transition: background-color 1s, color 1s, border 1s, tranform 1s ;
            &:hover {
                transform: scale(1.2);
            }
        }
    }


}

#containerMarcar.none {
    display: none!important;
}

#containerMarcar.active {
    position: absolute;
    top: 30px;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: #000;
    box-sizing: border-box;
    padding: 20px;

    & > form {
        display: flex;
    }
}

@media (min-width: 801px) {

    #horarios-section.active {
        & .horarioMarcado {
            width: 200px;
            height: 120px;
            font-size: 1.2em;
            
            & > .remove {
                font-size: 1.5em;
            }

            & > .tipo {
                font-size: 1.5em;
            }

            & > .servico {
                font-size: 1.3em;
            }
        }

    } 
}
